<h1 class="bow_text">This is your ebook with <span>Sweet Bow</span> Style</h1>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="bar">
            <i class="fa fa-bars" aria-hidden="true"></i>

          </div>
        <div class="text">
            <h1 class="book_text">Book 1: Ore Resurgergnce</h1>
            <p>Legend of ore series</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bar">
            <i class="fa fa-bars" aria-hidden="true"></i>

          </div>
        <div class="text">
            <h1 class="book_text">Book 2: Ore Resurgergnce</h1>
            <p>Legend of ore series</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bar">
            <i class="fa fa-bars" aria-hidden="true"></i>

          </div>
        <div class="text">
            <h1 class="book_text">Book 3: Ore Resurgergnce</h1>
            <p>Legend of ore series</p>
        </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
