<div class="heading_row">
    <p class="ebook">{{heading}}</p>
    <div class="input_row">
        <input type="text">
        <span>GO TO VIEW BOOK PAGE</span>
    </div>
</div>

<div class="preview_row_section">
    <div class="preview_col ">
        1<span>DETAILS</span>
    </div>
    <div class="preview_col ">
        2<span>LAYOUT</span>
    </div>
    <div class="preview_col step_row ">
        <div class="step">
            step3
        </div>
        <div class="step">
            PREVIEW
        </div>
        <div class="step">
            PREVIEW
        </div>
    </div>
    <div class="preview_col">
        4<span>PUBLISH</span>
    </div>

    
</div>

<h1 class="ore">Ore Resurgergnce</h1>

<div class="resurgergnce">
<app-slider></app-slider>

    <app-template></app-template>
</div>
